@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  font-family: "Rubik", sans-serif;
  --dark: hsl(0, 0%, 17%);
  --light: hsl(0, 0%, 59%);

  /* ~~~ filter variables ~~~ */
  --filter-height: 35px;
  --filter-radius: 10px;
  --filter-padding: 25px;
}
