* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* height of the leaflet container */
.leaflet-container {
  height: 90vh;
}

@media (min-width: 775px) {
  .leaflet-container {
    height: calc(100vh - 250px);
  }
}

@media (max-height: 500px) {
  .leaflet-container {
    height: 90vh;
  }
}
